.Colcust{
    font-family: GoogleSans Bold,Arial,sans-serif !important;
    // max-width: 350px;
    div{
        margin: 10px 0;
    }
}
.Clogo{
  
}
.noWrap{
    text-wrap: nowrap;
}
.media{
    // width: 100%;
display: inline-block;
    text-align: center;
}
.BlockCt{
    
    display: flex;
    justify-content: center;
    // align-items: center;
}
.bgi{
    color: black;
}
.gridLR{
    // margin: 0 !important;
    // align-items: center;
    margin-left: 0!important;
    margin-right: 0 !important;
    margin: 20px 0;
    width: 100%;
    justify-content: space-between;

}
.Rowcuts{
    margin: 0;
    padding:  40px 20px;
}
.FlexItem{
    display: flex;
    align-items: center;
}
.imageLogo{
    max-width: 300px;
 
    width: auto;
}
.content{
    max-width: 350px;
    margin: auto;
    p{
        margin:  0;
        font-size: 14px;
    }
}
.IconF{
    height: 30px; 
    margin-right: 5px;
    width: auto;
}
.IconS{
    height: 50px;
    width: auto;
   
}
.LinkMEdia{
    width: 100%;
    text-align: right;
    margin-right: 10px;
    &:hover{
        opacity: .7;
    }
     & + .LinkMEdia{
margin-left: 5px;
}
}
.media{
    width: 100%;
}
@media only screen and (max-width: 768px){
    .content{
        max-width: 500px;
        margin: auto !important;
        
    }
    .Clogo{
        text-align: center;
    }

}
@media only screen and (max-width: 576px){
    .imageLogo{
        width: 100% !important;
        padding: 0;
    }
   
}